numpy==1.16.6
six==1.11.0
opencv-python==3.2.0.6
pandas==0.24.2
scipy==1.2.1
setuptools==41.0.0
coremltools==2.1
scikit-learn==0.23.0
imbalanced-learn==0.7.0
mlxtend==0.17.2
skl2onnx
glibc==0.6.1
onnx
onnxmltools
onnxruntime

atomicwrites==1.3.0
attrs==19.3.0
colorama==0.4.3
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.4.1
wcwidth==0.1.8